POSTGRES_PASSWORD=postgres
JWT_SECRET=replace-with-32-char-min-secret
ANON_KEY=replace-with-jwt-anon-key
SERVICE_ROLE_KEY=replace-with-jwt-service-role
SITE_URL=https://hive-mind.club
REALTIME_SECRET_KEY_BASE=replace-with-random-string
